* {
    font: 12pt/1.5 'Roboto', sans-serif
}

html,
body {
  margin: 0;
  padding: 0;
}

hr {
    border-radius: 4px;
    border: 1px 0 solid #eee
}


/* Grids
************************************************************/

.container {
    box-sizing: border-box;
    position:   relative;
    margin: auto;

    width:     100%;
    max-width: 980px;
    min-width: auto;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box
}

@media (min-width: 512px) {
    .one.column     { width: 8.3333% }
    .two.columns    { width: 16.6667% }
    .three.columns  { width: 25.0000% }
    .four.columns   { width: 33.3333% }
    .five.columns   { width: 41.6667% }
    .six.columns    { width: 50.0000% }
    .seven.columns  { width: 58.3333% }
    .eight.columns  { width: 66.6667% }
    .nine.columns   { width: 75.0000% }
    .ten.columns    { width: 83.3333% }
    .eleven.columns { width: 91.6667% }
    .twelve.columns { width: 100.0000% }
}


/* List
************************************************************/

ul { list-style: circle inside }
ol { list-style: decimal inside }
li { margin-bottom: 1px }

ul > li > a {
    background-color: transparent;
    text-decoration: none
}

ol,
ul {
    padding-left: 0;
    margin-top: 0
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 2px 0 2px 4px;
    font-size: 90%
}


/* Text
************************************************************/

code,
.code {
    padding: 8px;
    white-space: nowrap;
    background: black;
    color: #eee;
    font: 'Roboto Mono', monospace
}

pre > code,
pre > .code, {
    display: block;
    white-space: pre
}

.center { text-align: center; margin: auto }
.left   { text-align: left }
.right  { text-align: right }

.blink     { text-decoration: blink }
.bold      { font-weight: bold }
.italic    { font-style:  italic }
.strike    { line-decoration: line-through }
.underline { text-decoration: underline }

.line-single { line-height: 1.5 }
.line-double { line-height: 3.0 }

.decoration-none,
.decno { text-decoration: none }

.mono { font-family: 'Roboto Mono', monospace }


/* Media
************************************************************/

.image {
    display: inline-block;
    background-size: cover
}

.audio {}
.video {}

.avatar     { width: 96px; height: 96px }
.background { width: 100%; height: 100% }
.banner     { width: auto; max-width: 66% }
.icon       { width: 32px; height: 32px }

.media {
    background-size: cover;
    width: 100%;
    height: auto
}

.media.scale {
    position: relative;
    padding-bottom: 100%;
    height: 0
}


/* Utilities
************************************************************/

.container:after,
.row:after,
.float-clear,
.clear {
    content: "";
    display: table;
    clear: both
}

.float-left   { float: left }
.float-right  { float: right }

.block        { display: block }
.inline       { display: inline }
.inline-block { display: inline-block }
.inline-flex  { display: inline-flex }

.margin, .mar { margin:  8px }
.margin-auto, .mara { margin: auto }
.margin-none, .marn { margin: 0 }

.padding, .pad { padding: 8px }
.padding-none, .padn { padding: 0 }

.hide { display: none }
.show { display: content }

.list-style {}
.list-style-type-none, .lstn { list-style-type: none }

.card {
    box-shadow: 0px 2px 2px 2px #e5e5e5
}
